.bar-gestion{
    border: 1px solid black;
    background-color: black;
    width: 20%;
    height: 98vh;
    float: left;
    position: fixed;
   
}
.menu-gestion{
    border: 1px solid ;
    width: 90%;
    height: 50vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 30vh;
}
.p-presentation{
    color: white;
    font-size: 160%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p-presentation:hover{
    color: rgb(54, 95, 230);
}
.p-scolaire{
    color: white;
    font-size: 160%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p-expprofessionel{
    color: white;
    font-size: 140%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p-professionel{
    color: white;
    font-size: 140%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p-certif{
    color: white;
    font-size: 140%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p-veille{
    color: white;
    font-size: 140%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p-veille:hover{
    color: rgb(54, 95, 230);
}
.info-portfolio{
    width: 70%;
    float: left;
    margin-left: 25%;
    position: relative;  
}
h1{
  text-align: center;
  text-transform: uppercase;
}
hr{
    border: 1px solid black;
    width: 40%;
}
.p-info{
    font-family: "Lucida Console", Courier, monospace;
    font-size: 140%;
    margin-left: 10%;
}
.color-blue{
    color: rgb(88, 88, 224);
    font-weight: 600;
}
.p-pre{
    color: rgb(54, 95, 230);
    font-weight: 600;
    font-size: 200%;
}
.d-brevet{
    border: 1px solid black;
    width: 22%;
    float: left;
    border-radius: 6px;
    margin-left: 2%;
    height: 25vh;
}
.d-bac{
    border: 1px solid black;
    width: 22%;
    float: left;
    border-radius: 6px;
    margin-left: 2%;
    height: 25vh;
}
.d-bts{
    border: 1px solid black;
    width: 22%;
    float: left;
    border-radius: 6px;
    margin-left: 2%;
    height: 25vh;
}
.d-objectif{
    border: 1px solid black;
    width: 22%;
    float: left;
    border-radius: 6px;
    margin-left: 2%;
    height: 25vh;
    
}
h2{
   text-align: center;
}

h3{
    text-align: center;
    font-size: 100%;
}
.p-veilletext{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 140%;
}
.info-parcours{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
   font-size: 120%;
}

img{
    width: 20%;
    float: left;
}
.float-image{
    width: 50%;
    height: 28vh;
    margin-left: 30%;
    margin-top: 4%;
}
.page{
    margin-top: 4%;
}

.hr2{
    border: 1px solid black;
    width: 10px;
}
.rond1{
    width: 3%;
    height: 4vh;
    border-radius: 50px;
    border: 2px solid aqua;
    float: left;
    margin-left: 11.8%;
    position: absolute;
}
.blue1{
    color: aqua;
}
.rond2{
    width: 3%;
    height: 4vh;
    border-radius: 50px;
    border: 2px solid rgb(0, 168, 247);
    float: left;
    margin-left: 35.7%;
    position: absolute;
}
.blue2{
    color:rgb(0, 168, 247) ;
}
.rond3{
    width: 3%;
    height: 4vh;
    border-radius: 50px;
    border: 2px solid rgb(0, 68, 255);
    float: left;
    margin-left: 59.4%;
    position: absolute;
}
.blue3{
    color: rgb(0, 68, 255);
}
.rond4{
    width: 3%;
    height: 4vh;
    border-radius: 50px;
    border: 2px solid rgb(17, 0, 255);
    float: left;
    margin-left: 84%;
}
.blue4{
    color:rgb(17, 0, 255) ;
}
.parcours-g{
    margin-top: 4%;
}
.parcours-t{
    margin-top: 2%;
}
.hr2{
    position: relative;
    top: 28px; 
    border: 1px solid black;
    width: 75%;
    margin-left: 12%;
}
.page2{
    margin-top: 30%;
}
.content-expro{
    width: 90%;
    height: 50vh;
    margin: auto;
    margin-top: 20%;
    
}
.decadoco{
    background-image: url(logo-decadoco.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgb(5, 151, 5);
    border-radius: 6px;
    width: 40%;
    height: 40vh;
    float: left;
    margin-left: 5%;
    border: 1px solid black;
}
.decadoco:hover{
    background-color: rgb(5, 151, 5);
    background-image: none;
}
.SDIS{
    background-image: url(logo-SDIS.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 6px;
    width: 40%;
    height: 40vh;
    float: left;
    margin-left: 10%;
    border: 1px solid black;
}
.SDIS:hover{
    background-color: rgb(20, 106, 187);
    background-image: none;
}
.page3{
    margin-top: 30%;
}

.text-decadoco{
    text-align: center;
    color: rgba(255, 255, 255, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 100%;
    width: 100%;
    height: 100%;   
}
.text-decadoco:hover{
    color: rgb(255, 255, 255);
}
.text-SDIS{
    text-align: center;
    color: rgba(255, 255, 255, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 100%;
    width: 100%;
    height: 100%;   
}
.text-SDIS:hover{
    color: rgb(255, 255, 255);
}
a{
    text-decoration: none;
    color: white;
    font-size: 130%;
}
a:hover{
    color: rgb(54, 95, 230);
}
.content-rea{
    width: 90%;
    height: 50vh;
    margin: auto;
    margin-top: 4%;
}
.Zoo{
    background-image: url(zooparc.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 6px;
    width: 40%;
    height: 40vh;
    float: left;
    margin-left: 5%;
    border: 1px solid black;
}
.Zoo:hover{
    background-image:  url(gitwhite-removebg-preview.png);
    background-position: 52% 65%;
    background-repeat: no-repeat;
    background-size: 25% 25%;
    align-items: center;
    background-color: black;
    
}
.text-zoo{
    text-align: center;
    color: rgba(255, 255, 255, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 160%;
    width: 100%;
    height: 100%;  
}
.text-zoo:hover{
    color: white;
}
.DVD{
    background-image: url(DVD.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 6px;
    width: 40%;
    height: 40vh;
    float: left;
    margin-left: 10%;
    border: 1px solid black;
}
.DVD:hover{
    background-image:  url(gitwhite-removebg-preview.png);
    background-position: 52% 65%;
    background-repeat: no-repeat;
    background-size: 25% 25%;
    align-items: center;
    background-color: black;
}
.text-dvd{
    text-align: center;
    color: rgba(255, 255, 255, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 160%;
    width: 100%;
    height: 100%;  
}
.text-dvd:hover{
    color: white;
}
.VVA{
    background-image: url(VVA.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 6px;
    width: 40%;
    height: 40vh;
    float: left;
    margin-left: 5%;
    border: 1px solid black;
    margin-top: 4%;
}
.text-vva{
    text-align: center;
    color: rgba(255, 255, 255, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 160%;
    width: 100%;
    height: 100%;  
}
.text-vva:hover{
    color: white;
}
.VVA:hover{
    background-image:  url(gitwhite-removebg-preview.png);
    background-position: 52% 65%;
    background-repeat: no-repeat;
    background-size: 25% 25%;
    align-items: center;
    background-color: black;
}
.velo{
    background-image: url(velo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 6px;
    width: 40%;
    height: 40vh;
    float: left;
    margin-left: 10%;
    margin-top: 4%;
    border: 1px solid black;
}
.velo:hover{
    background-image:  url(gitwhite-removebg-preview.png);
    background-position: 52% 65%;
    background-repeat: no-repeat;
    background-size: 25% 25%;
    align-items: center;
    background-color: black;
}
.text-velo{
    text-align: center;
    color: rgba(255, 255, 255, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 160%;
    width: 100%;
    height: 100%;  
}
.text-velo:hover{
    color: white;
}
.page4{
    margin-top: 40%;
}
.pre-decadoco{
    width: 90%;
    height: 30vh;
    margin: auto;
    margin-top: 15%;
}
.pre-sdis{
    width: 90%;
    height: 30vh;
    margin: auto;
    margin-top: 13%;
}
.title-staged{
    font-size: 180%;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(5, 151, 5);
    font-weight: 600;
}
.title-stages{
    font-size: 200%;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(20, 106, 187);
    font-weight: 600;
}
.title-role{
    font-size: 180%;
    font: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title-date{
    font-size: 160%;
    font-weight:200 ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.info-sdis{
    font-size: 160%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.info-decadoco{
    font-size: 160%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.page5{
    margin-top: 40%;
}
.content-certif{
   
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.certification{
    border: 1px solid black;
    background-image: url(CNIL.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 6px;
    width: 40%;
    height: 40vh;
    float: left;
    margin-top: 4%
}
.certification:hover{
    background-image: none;
    background-color: black;
}
.github{
    margin-left: 90%;
}
.cnil{
    text-align: center;
    color: rgba(255, 255, 255, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 100%;
    width: 100%;
    height: 100%;  
}
.cnil:hover{
    color : white;
}
.gitwhite{
   margin-top: 10%;
   margin-left: 40.5%;
   display: none;
}
.gitwhite:hover{
    display:block;
}